<html>

<head>
  <title>Static Web Apps Chat</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">

  <style>
    .slide-fade-enter-active, .slide-fade-leave-active {
      transition: all 1s ease;
    }
    .slide-fade-enter, .slide-fade-leave-to {
      height: 0px;
      overflow-y: hidden;
      opacity: 0;
    }
  </style>
</head>

<body>
  <p>&nbsp;</p>
  <div id="app" class="container">
    <h3>
      Static Web Apps Chat
    </h3>
    <div class="row" v-if="ready">
      <div class="signalr-demo col-sm">
        <hr />
        <form v-on:submit.prevent="sendNewMessage">
          <input type="text" v-model="newMessage" id="message-box" class="form-control" placeholder="Type message here..." autocomplete="off" />
        </form>
      </div>
    </div>
    <div class="row" v-if="!ready">
      <div class="col-sm">
        <div>Loading...</div>
      </div>
    </div>
    <div v-if="ready">
      <transition-group name="slide-fade" tag="div">
        <div class="row" v-for="message in messages" v-bind:key="message.id">
          <div class="col-sm">
            <hr />
            <div style="vertical-align: top;">
              <div style="display: inline-block; vertical-align: top;">
                <img v-bind:src="`https://github.com/${message.sender}.png`" style="width: 64px;" />
              </div>
              <div style="display: inline-block; padding-left: 12px; max-width: 90%; vertical-align: top;">
                <div>
                  <span class="text-info small"><strong>{{ message.sender }}</strong></span>
                  <span class="text-info small text-muted">{{ message.ago }}</span>
                </div>
                <div>
                  {{ message.text }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition-group>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@microsoft/signalr@3.1.4/dist/browser/signalr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/timeago.js@4.0.2/dist/timeago.min.js"></script>

  <script>
    const apiBaseUrl = (location.hostname === 'localhost') ? 'http://localhost:7071' :''

    const data = {
      username: '',
      newMessage: '',
      messages: [],
      ready: false
    }

    const app = new Vue({
      el: '#app',
      data: data,
      methods: {
        sendNewMessage: function () {
          sendMessage(this.username, this.newMessage)
          this.newMessage = ''
        }
      },
      mounted: function() {
        setInterval(updateTimes.bind(this), 10000)
        function updateTimes() {
          this.messages.forEach(m => m.ago = timeago.format(m.timestamp))
        }
      }
    })

    const connection = new signalR.HubConnectionBuilder()
      .withUrl(`${apiBaseUrl}/api`)
      .withAutomaticReconnect()
      .configureLogging(signalR.LogLevel.Information)
      .build()

    connection.on('newMessage', newMessage)
    connection.onclose(() => console.log('disconnected'))

    console.log('connecting...')
    connection.start()
      .then(() => data.ready = true)
      .catch(console.error)

    function sendMessage(sender, messageText) {
      return axios.post(`${apiBaseUrl}/api/messages`, {
        text: messageText
      }).then(resp => resp.data)
    }

    let counter = 0
    function newMessage(message) {
      message.id = counter++ // vue transitions need an id
      message.ago = timeago.format(message.timestamp)
      data.messages.unshift(message)
    }

  </script>
</body>

</html>
